<!--########### NAV BAR STARTS HERE ##################################################### -->

<nav class="navbar navbar-expand-sm  bg-primary navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Ashok IT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a routerLink="" routerLinkActive="active" class="nav-link" href="#">User list</a>
        </li>
        <li class="nav-item">
          <a routerLink="register-user" routerLinkActive="active" class="nav-link" href="#">Register User</a>
        </li>
        <li class="nav-item">
          <a routerLink="login-user" routerLinkActive="active" class="nav-link" href="#">Sign in</a>
        </li>
       
        
      </ul>
      
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
