<div class="col-md-4 offset-md-4 mt-2 mb-5">
    
    <h2>Enter Your Registered Email</h2>
     <h5 style="color: green;">{{mesg}}</h5> 
    <form action="" #forgotPaswd="ngForm" (submit)="sendPasswordToEmail(forgotPaswd)" >
        <div class="form-group">
        <label >Email:</label>
         <input class="form-control"  type="text" [(ngModel)]="email" name="email" id="" required >
        </div>
        <div class="form-group">
            <br>
            <button class="btn btn-primary" type="submit" [disabled]="!forgotPaswd.valid">Submit</button>
        </div>
    </form>
</div>
